 <div class="user-details">
  <h1> Who is Natasha? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-intellij-plain"></i>
      <i class="devicon-java-plain"></i>
      <i class="devicon-python-plain"></i>
      <!--<p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.-->
        <!--Vinyl XOXO lumbersexual</p>-->
    </div>
    <div class="tech">
      <h2>Prose</h2>
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <i class="devicon-atom-original"></i>
      <i class="fa fa-medium" aria-hidden="true"></i>
      <!--<p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.-->
        <!--Vinyl XOXO lumbersexual</p>-->
    </div>
    <div class="tech">
      <h2>Art</h2>
      <i class="fa fa-coffee" aria-hidden="true"></i>
      <i class="devicon-illustrator-plain"></i>
      <i class="fa fa-leaf" aria-hidden="true"></i>
      <!--<p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.-->
        <!--Vinyl XOXO lumbersexual</p>-->
    </div>
</div>
