<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Resume </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Here you will find a downloadable copy of my resume, my work history, and a link to my LinkedIn.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Projects </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>My academic projects can be found here. I have included various project from my writing classes, as well as design projects from my computer science classes.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Personal </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This link will take you to a page that contains pictures and a more detailed bio of me.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>